extends layout
block content
  h1= title
  p Welcome to the juice pug
  div(class="container-fluid")
        div(class="row")
            -
                let juice = [
                    {
                        "Itemname": "Banana",
                        "Quantity": 20,
                        "price": "Eight USD"
                    },
                    {
                        "Itemname": "strawberry",
                        "Quantity": 40,
                        "price": "Ten USD"
                    },
                    {
                        "Itemname": "sapota",
                        "Quantity": 11,
                        "price": "Six USD"
                    },                   
                ]
            each v,index in juice
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Itemname}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Quantity}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }

